@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card">
    <h5 class="text-center">Location 4  66 Information</h5>
    @*<p>Location: @Model._weather.City.Name </p>
    <p>Logitude: @Model._weather.City.Coordinates.Longitude </p>
    <p>Latitude:  @Model._weather.City.Coordinates.Latitude </p>
    <p>Wind speed: @Model._weather.Forecast[0].WindSpeed </p>*@
</div>


<div class="card">
    <h5 class="text-center">Hobor Status</h5>
    <p>Status: @Model._currentStatus</p>
</div>



@*@Html.DropDownList("BoatName", new SelectList(Model._boardList), "Select board type", new { @class = "form-control" });
    <button type="Submit" class="btn btn-success submit">Send</button>*@

<div>
    @using (Html.BeginForm("SelectedBoat", "Boat", FormMethod.Post))
    {
        @Html.DropDownListFor(b => b.BoatType, new SelectList(Model._boatTypeList), "Select new", new { @class = "form-control dropdown" });
        <input type="submit"/>
    }
    end div
</div>
    <br />
    <p>
        viewbg is: @ViewBag.lesiba;
    </p>
    @*Please disable this form/inputs if status id occupied*@

    @{
        var status = "Not Occupiead";// Model._currentStatus;
        if (status == "Not Occupied")
        {
            <div>
                <div class="card ">
                    <h5 class="text-center">Boat Information</h5>
                    @*Select boat type using dropdown arrow*@

                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Select board type</button>
                        <div class="dropdown-menu">
                            @{

                                foreach (var boardType in Model._boatTypeList)
                                {
                                    <a class="dropdown-item" href="">@boardType</a>
                                }

                            }
                        </div>

                    </div>


                </div>


                @*Output*@

                <div class="card">
                    <h5 class="text-center">Action</h5>
                    <p> </p>
                </div>
            </div>
        }
    }



